.left_area p {
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}

.left_area span {
  color: #1dc4e7;
}

label #sidebar_btn {
  cursor: pointer;
  transition: 0.5s;
  transition-property: color;
  margin: 4px 25px;
  font-size: 32px;
}

label #sidebar_btn:hover {
  color: #19b3d3;
}

.sidebar {
  transition: 0.7s;
  transition-property: left;
}

#check:checked ~ .wrapper .sidebar {
  left: -190px;
}

#check:checked ~ .wrapper .sidebar a p {
  display: none;
}

#check:checked ~ .wrapper .sidebar .nav i {
  font-size: 30px;
  float: none;
  margin-left: 170px;
}

#check:checked ~ .wrapper .sidebar .left_area p {
  display: none;
}


#check {
  display: none;
}

/*
.container-fluid .row .sidebar {
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.7s;
  transition-property: left;
}

.container-fluid .row .sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover {
  background-color: #19b3d3;
}

.sidebar i {
  padding-right: 10px;
}

#check:checked ~ .container-fluid .row > .sidebar {
  left: -190px;
}

#check:checked ~ .container-fluid .row > .sidebar a span {
  display: none;
}

#check:checked ~ .container-fluid .row > .sidebar a {
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}

#check {
  display: none;
}

*/
