<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!--FONTAWESOME-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,300,700"
      rel="stylesheet"
      type="text/css"
    />

    <title>Bievenido</title>
  </head>
  <body>
    <input type="checkbox" id="check" />
    <!--Header area start-->
    <header>
      <label for="check">
        <i class="fas fa-bars" id="sidebar_btn"></i>
      </label>
      <center>
        <div class="left_area">
          <h3>Sistema de Administracion de Personas <span>(SAP)</span></h3>
        </div>
      </center>
    </header>
    <!--Header area end-->

    <!--Sidebar area start-->
    <div class="sidebar">
      <a href="#"><i class="fas fa-desktop"></i> <span>Dashboard</span> </a>
      <a href="#"><i class="fas fa-cogs"></i> <span>Components</span> </a>
      <a href="#"><i class="fas fa-table"></i> <span>Tables</span> </a>
      <a href="#"><i class="fas fa-th"></i> <span>Forms</span> </a>
      <a href="#"><i class="fas fa-info-circle"></i> <span>About</span> </a>
      <a href="#"><i class="fas fa-sliders-h"></i> <span>Settings</span> </a>
    </div>
    <!--Sidebar area end-->
    <section class="content">
      <div class="section_table">
        <div>Numero de personas: {{num_personas}}</div>
        <div>
          <a href="nueva_persona">Nueva Persona</a>
        </div>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for persona in personas %}
            <tr>
              <td>{{persona.id}}</td>
              <td>{{persona.nombre}} {{persona.apellido}}</td>
              <td>{{persona.email}}</td>
              <td>
                <button>
                  <a href="detalle_persona/{{persona.id}}">Ver detalle</a>
                </button>

                <button>
                  <a href="editar_persona/{{persona.id}}">Editar</a>
                </button>
                <button>
                  <a href="eliminar_persona/{{persona.id}}">Eliminar</a>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    
  </body>
</html>
