{% extends "base.html" %}
{% block title %}Tablas{% endblock %} 

{% block tables%}
<button class="btn btn-success mb-3">
  <a href="/nueva_persona" style="text-decoration: none; color: #fff"
    ><i class="material-icons">add_box</i>Agregar</a
  >
</button>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Total people <span>({{num_personas}})</span></h4>
        <p class="card-category">New people on 15th September</p>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Choices</th>
          </thead>
          <tbody>
            {% for persona in personas %}
            <tr>
              <td>{{persona.id}}</td>
              <td>{{persona.nombre}} {{persona.apellido}}</td>
              <td>{{persona.email}}</td>
              <td>
                <button class="btn btn-dark">
                  <a href="/detalle_persona/{{persona.id}}"
                    ><i class="material-icons">visibility</i
                  ></a>
                </button>

                <button class="btn btn-info">
                  <a href="/editar_persona/{{persona.id}}"
                    ><i class="material-icons">edit</i
                  ></a>
                </button>

                <button class="btn btn-danger">
                  <a href="/eliminar_persona/{{persona.id}}"
                    ><i class="material-icons">delete</i
                  ></a>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
