
.left_area p {
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}

.left_area span {
  color: #1dc4e7;
}

label #sidebar_btn {
  cursor: pointer;
  transition: 0.5s;
  transition-property: color;
  margin: 4px 25px;
  font-size: 32px;
}

label #sidebar_btn:hover {
  color: #19b3d3;
}

.sidebar {
  transition: 0.7s;
  transition-property: left;
}

#check:checked ~ .wrapper .sidebar {
  left: -190px;
}

#check:checked ~ .wrapper .sidebar a p {
  display: none;
}

#check:checked ~ .wrapper .sidebar .nav i {
  font-size: 30px;
  float: none;
  margin-left: 170px;
}

#check:checked ~ .wrapper .sidebar .left_area p {
  display: none;
}


#check {
  display: none;
}

