<aside class="sidebar" data-color="purple" data-background-color="black">
    <div style="text-align: right">
        <label for="check">
            <i class="material-icons" id="sidebar_btn">menu</i>
          </label>
    </div>

    <div class="left_area">
        <p>Sistema de Administracion de Personas <span>(SAP)</span></p>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" id="active">
                <a class="nav-link pulse" href="/dashboard" onclick="hola()">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
              </a>
            </li>

            <li class="nav-item">
                <a class="nav-link pulse" href="/tablas">
                <i class="material-icons">content_paste</i>
                <p>Table List</p>
              </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/tablas">
                <i class="material-icons">info</i>
                <p>About</p>
              </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link pulse">
                <i class="material-icons">settings</i>
                <p>Settings</p>
              </a>
            </li>
        </ul>
    </div>
</aside>
